// .centeredContainer {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
//   color: rgb(17, 48, 25);
// }

// .centeredContainer {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .adoptionForm {
//   border: 2px solid #333;
//   padding: 10px;
//   margin-bottom: 20px;
// }

// .adoptionQuestion {
//   font-weight: bold;
//   margin-bottom: 5px;
// }

// .adoptionAnswer {
//   margin-bottom: 10px;
// }

// .scheduleForm {
//   border: 2px solid #333;
//   padding: 10px;
//   margin-bottom: 20px;
// }

// .scheduleQuestion {
//   font-weight: bold;
//   margin-bottom: 5px;
// }

// .scheduleAnswer {
//   margin-bottom: 10px;
// }

.centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #393d47;
}

.formContainer {
  // display: flex;
  // justify-content: center;
  // width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: #393d47;
}

.adoptionForm,
.scheduleForm {
  border: 2px dashed #b9c32a;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  color: #393d47;
}

.question {
  font-weight: bold;
  margin-bottom: 5px;
}

.answer {
  margin-bottom: 10px;
}

.text {
  text-align: center;
}
