.dog-page-container {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #333;
  padding: 20px;
  margin: 0 auto;
  margin: 10vh auto;
}

.dog-content {
  display: flex;
  align-items: center;
}

.dog-image {
  margin-right: 20px;
}

.dog-details {
  text-align: left;
}
