// .centeredContainer {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.schedule-button {
  background-color: #edefe0;
  border: 2px solid;
  border-color: #113019;
  color: #393d47;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: #e9ffc2;
  }
}
