.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exploreButton {
  // background-color: rgb(28, 79, 41);
  // background-color: #b9c32a;
  background-color: #e9ffc2;
  border: 2px solid;
  border-color: #113019;
  // color: whitesmoke;
  color: #393d47;
  // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;

  &:hover {
    background-color: #aaceae;
  }
}
