// .header-image-container {
//   position: relative;
//   // display: inline-block;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .header-image-container img {
//   border-radius: 10px;
// }

// .dark-image-container {
//   filter: brightness(80%);
// }

// .overlay-text-one {
//   position: absolute;
//   top: 40%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   color: whitesmoke;
//   font-size: 40px;
//   font-weight: bold;
//   text-align: center;
//   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
// }

// .overlay-text-two {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   color: whitesmoke;
//   font-size: 20px;
//   font-weight: bold;
//   text-align: center;
//   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
// }

// .overlay-button {
//   position: absolute;
//   top: 60%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   color: whitesmoke;
//   text-align: center;
//   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
// }

.header-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
  }

  .dark-image-container {
    filter: brightness(80%);
  }

  .overlay-text-one,
  .overlay-text-two,
  .overlay-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .overlay-text-one {
    font-size: 40px;
    font-weight: bold;
    top: 40%;
  }

  .overlay-text-two {
    font-size: 20px;
    font-weight: bold;
    top: 50%;
  }

  .overlay-button {
    top: 60%;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
  color: #393d47;
}

.horizontal-banner {
  // background-color: #b9c32a;
  // background-color: #d7e5ca;
  background-color: rgb(196, 213, 185);
  // background-color: #aaceae;
  // background-color: #cbe4ce;
  padding-top: 30px;
  padding-bottom: 30px;

  .banner-text {
    color: #393d47;
    text-align: center;
    // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.dashed-container {
  border-width: 2px;
  border-style: dashed;
  border-color: #b9c32a;
  border-radius: 10px;
  margin: 20px;
  box-sizing: border-box;
}

// .content-container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

.process-image-container {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.process-image-container img {
  width: 100%;
  max-width: calc(33.33% - 20px);
  height: auto;
}
.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .explore-container {
    max-width: 100%;
    padding-right: 0;
  }
}

.gradient-line {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(to right, transparent, #b9c32a, transparent);
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}

// .explore-container {
//   max-width: 50%;
//   padding-right: 20px;
// }

.adopt-container img {
  width: 450px;
  height: 450px;
}

.explore-text {
  color: rgb(17, 48, 25);
}

.sponsor-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1050px;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .process-image-container img {
    max-width: calc(50% - 20px);
  }

  .content-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .explore-container,
    .adopt-container img {
      max-width: 100%;
      padding-right: 0;
    }
  }
}
