.cat-page-container {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #393d47;
  padding: 20px;
  margin: 0 auto;
  margin: 10vh auto;
}

.cat-content {
  display: flex;
  align-items: center;
  color: #393d47;
}

.cat-image {
  margin-right: 20px;
}

.cat-details {
  text-align: left;
  color: #393d47;
}
