// .centeredContainer {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.meetOurKittiesButton {
  background-color: rgb(28, 79, 41);
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: #aaceae;
  }
}
