.text {
  text-align: center;
}

.centeredContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  // height: 100vh;
}

.imageContainer {
  // display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 15px;
}

.meetKittiesContainer {
  margin-top: 20px;
  margin-left: 20px;
  flex-direction: row;
}

.meetDoggiesContainer {
  margin-top: 20px;
  flex-direction: row;
}
